:root {
  /* Colors */
  --color-cyan-600: #4d96a9;
  --color-cyan-300: #8fe3f9;

  --color-purple-600: #855fb1;
  --color-purple-300: #d9b8ff;

  --color-slate-900: #28283d;
  --color-slate-600: #87879d;
  --color-slate-300: #d1d1df;

  --color-white: #fafafa;

  /* Typography */
  --font-size-unit: 16px;
  --font-family: "Red Hat Display", sans-serif;

  --preset1-font-size: calc(var(--font-size-unit) * 4);
  --preset2-font-size: calc(var(--font-size-unit) * 2.5);
  --preset3-font-letter-spacing: 4px;
  --preset4-font-weight-medium: 500;
  --preset4-font-size: calc(var(--font-size-unit) * 1.125);
  --preset5-font-line-height: 1.5;

  /* Spacing */
  --space-unit: 4px;
  --space-50: var(--space-unit);
  --space-100: calc(var(--space-unit) * 2);
  --space-200: calc(var(--space-unit) * 4);
  --space-300: calc(var(--space-unit) * 6);
  --space-400: calc(var(--space-unit) * 8);
  --space-500: calc(var(--space-unit) * 10);
  --space-700: calc(var(--space-unit) * 14);
  --space-800: calc(var(--space-unit) * 16);
  --space-900: calc(var(--space-unit) * 18);
  --space-1000: calc(var(--space-unit) * 20);
  --space-1400: calc(var(--space-unit) * 28);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: var(--font-size-unit);
  line-height: 1.1;
  font-weight: 900;
  background-color: var(--color-white);
  overflow-x: hidden;
}

header {
  display: flex;
  margin-top: 48px;
  gap: var(--space-100);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  padding-top: var(--space-800);
  padding-bottom: var(--space-400);
  gap: 48px;
}

.hero-images {
  display: flex;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
}

.hero-image {
  width: 120%;
  height: 160px;
  background-image: url(./assets/tablet/image-hero.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-inline: -10%;
}

.hero-content {
  align-self: center;
  max-width: 23rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-inline: var(--space-400);
  gap: var(--space-300);
}

h1 {
  font-size: var(--preset2-font-size);
  text-align: center;
  color: var(--color-slate-900);
}

h1 span {
  display: block;
}

p {
  line-height: 1.5;
  font-weight: var(--preset4-font-weight-medium);
  text-align: center;
  color: var(--color-slate-600);
}

.button {
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
  align-items: center;
}

button {
  cursor: pointer;
  transition: 500ms;
}

.btn {
  line-height: var(--preset5-font-line-height);
  padding-block: var(--space-200);
  padding-inline: var(--space-500);
  border-radius: 9999px;
  outline: none;
  border: none;
  color: var(--color-white);
}

.btn-primary {
  background-color: var(--color-cyan-600);
}

.btn-primary:hover {
  background-color: #71c0d4;
}

.btn-primary span {
  color: var(--color-cyan-300);
}

.btn-secondary {
  background-color: var(--color-purple-600);
}

.btn-secondary:hover {
  background-color: #b18bdd;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: cen;
  align-items: center;
  gap: var(--space-800);
  padding-inline: var(--space-400);
  padding-top: var(--space-400);
  padding-bottom: var(--space-800);
}

.divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider-line {
  height: var(--space-1000);
  width: 1px;
  background-color: var(--color-slate-300);
}

.divider-number {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: var(--preset5-font-line-height);
  color: var(--color-slate-600);
  width: var(--space-700);
  height: var(--space-700);
  border-radius: 9999px;
  border: 1px solid var(--color-slate-300);
  background-color: var(--color-white);
}

.features-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-200);
}

.features-gallery img {
  border-radius: var(--space-100);
}

.features-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
  text-align: center;
}

.features-content h3 {
  font-size: 12px;
  letter-spacing: var(--preset3-font-letter-spacing);
  color: var(--color-cyan-600);
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  color: var(--color-slate-900);
}

footer .divider {
  position: relative;
}

.footer {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-inline: var(--space-400);
  padding-bottom: var(--space-800);
  gap: var(--space-800);
}

.footer::before {
  position: absolute;
  content: "";
  inset: 0;
  margin-top: -25px;
  background-image: url(./assets/mobile/image-footer.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.footer::after {
  position: absolute;
  content: "";
  inset: 0;
  margin-top: -25px;
  background-color: var(--color-cyan-600);
  opacity: 0.87;
  z-index: 2;
}

footer .divider,
footer .footer-hero {
  position: relative;
  z-index: 3;
}

.footer-hero {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: var(--space-300);
}

.footer-hero h2,
.footer-hero p {
  color: var(--color-white);
}

.footer-hero .button {
  display: flex;
  align-items: center;
}

.footer-hero .btn {
  background-color: var(--color-purple-600);
}

.footer-hero .btn span {
  color: var(--color-purple-300);
}

.footer-hero .btn:hover {
  background-color: #b18bdd;
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  .hero-image {
    height: 303px;
  }

  .hero-content {
    max-width: 45rem;
    padding-inline: 10rem;
  }

  .button {
    flex-direction: row;
  }

  .features-gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-300);
  }

  .features-content {
    width: 31rem;
  }

  .features-content {
    width: 30rem;
  }

  .footer {
    width: 100vw;
  }

  .footer::before {
    width: 100%;
    background-image: url(./assets/tablet/image-footer.jpg);
    background-position: center;
    background-size: cover;
  }

  .footer-hero {
    padding-inline: 6rem;
  }

  .footer-description {
    align-self: center;
    max-width: 32rem;
  }

  footer .button {
    align-self: center;
  }
}

@media (min-width: 1224px) {
  h2 {
    font-size: var(--preset2-font-size);
  }

  p {
    font-size: var(--preset4-font-size);
  }

  .hero {
    gap: var(--space-100);
  }

  .hero-image {
    width: 100%;
    position: absolute;
    top: 8rem;
    left: -1.7rem;
    width: 394px;
    height: 303px;
    background-image: url(./assets/desktop/image-hero-left.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin-inline: 0;
  }

  .hero-image-right {
    position: absolute;
    top: 12rem;
    right: -1.7rem;
    width: 394px;
    height: 303px;
    background-image: url(./assets/desktop/image-hero-right.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .hero-content {
    padding: 0;
  }

  .hero-content h1 {
    font-size: var(--preset1-font-size);
  }

  .hero-content p {
    font-size: var(--preset4-font-size);
  }

  .hero-content p span {
    display: block;
  }

  .features {
    align-self: center;
    max-width: 1120px;
  }

  .features-gallery {
    gap: var(--space-400);
  }

  .features-content {
    width: 35rem;
  }

  .features-content h2 {
    padding-inline: 4rem;
  }

  .footer::before {
    background-image: url(./assets/desktop/image-footer.jpg);
    background-position: center;
  }

  .footer-hero {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }

  .footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer-hero h2,
  .footer-hero p {
    text-align: left;
  }

  .footer-hero {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    gap: var(--space-1400);
  }

  .footer-hero .footer-title {
    width: 21rem;
  }

  .footer-hero .footer-title span {
    display: block;
  }

  .footer-hero .footer-description {
    width: 23rem;
  }

  .footer-hero .button {
    align-self: flex-start;
    justify-self: flex-end;
  }
}

@media (min-width: 1440px) {
  .hero-image {
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-190%);
    width: 394px;
    height: 303px;
    background-image: url(./assets/desktop/image-hero-left.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    margin-inline: 0;
  }

  .hero-image-right {
    position: absolute;
    top: 12rem;
    right: 50%;
    transform: translateX(190%);
    width: 394px;
    height: 303px;
    background-image: url(./assets/desktop/image-hero-right.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }
}
